{{#bulma-columns}}
  {{#bulma-column}}
    <h1><u>Networks</u></h1>
    <ul>
      <li><a href="https://github.com/paulpjryan"><span class="link-icon">{{fa-icon 'github'}}</span> GitHub</a></li> 
      <li><a href="https://www.linkedin.com/in/pj-ryan/"><span class="link-icon">{{fa-icon 'linkedin-square'}}</span> LinkedIn</a></li>
      <li><a href="https://angel.co/pj-ryan"><span class="link-icon">{{fa-icon 'angellist'}}</span>AngelList</a></li>
    </ul>
  {{/bulma-column}}

  {{#bulma-column}}
    <h1><u>Work</u></h1>
    <ul>
      <li><a href="https://neighborly.com">Neigborly</a></li>
    </ul>
  {{/bulma-column}}
  
  {{#bulma-column}}
    <h1><u>Dance</u></h1>
    <ul>
      <li><a href="https://www.youtube.com/watch?v=hDizcxnR7-U">ILHC 2017 - Open Showcase</a></li>
    </ul>
  {{/bulma-column}}
{{/bulma-columns}}
