<div class="container">
  <figure class="is-image">
    <img src="/assets/images/portrait.jpg" class="bio-image"/>
  </figure>
  <p>
    I was born in Atlanta, GA, graduated from Purdue University in 2016 with a B.S. in Computer Science, and moved to San Francisco to pursue a career in software. I spend most of my free time teaching, competing in, and thinking about swing dancing. I play guitar with a few local early jazz/swing bands. I also care, sometimes maybe too much, about quality coffee and cocktails. In the past, I have worked at Fluke Networks and FactSet Research Systems. I am excited to be a part of the team at Neighborly, where we are building a community-first investment platform that has the potential to change the way that people interact with their communities.
  </p>
</div>
